<section class="card">
  <div class="card-body">
    <h1>Acerca</h1>
    <p>
      ¡Bienvenido a nuestra aplicación de notas! Somos un equipo apasionado de desarrolladores dedicados a proporcionarte la mejor experiencia para tomar notas de forma rápida, sencilla y segura.
    </p>
  </div>
</section>
