<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card card-body">
      <h1>Error interno del servidor</h1>
      <p>{{error}}</p>
      <a href="/">Volver a la pagina de inicio</a>
    </div>
  </div>
</div>