<div class="card card-body p-5 mt-4">
  <h1 class="display-4">HOLA!</h1>
  <p class="lead">Una simple aplicacion para crear notas</p>
  <hr class="my-4" />
  <p>No se que escribir aqui, asi que aprovecho para spamearte sobre los stray kids, es un grupo de kpop que pertenece a la empresa JYP Entertainment, son como lo bities pero mas jovenes y calenturientos, han gando premios internacionales como MTV y ¡HeartRadio. 
  </p>
  <div>
    <a
      class="btn btn-primary btn-lg"
      href="/auth/signup"
      role="button"
    >Registrate</a>
  </div>
</div>